table {
	color:green;
}
/*Таким образом тут пишется комментарий, который не считывается системой*/
[href="#nom1"]{
	color:orange;
}
[colspan="2"]{
	color:gray;
}
li[height="400"]{
	color:black;
}
.gavno {
	color:purple;
}
#nom1 {
	font-weight:bold;
}
html tr {
	color:black;
}
.list > li {
	color:pink
}
.font-size-md {
	font-size: 30px
}
.font-size-md.color-red {
	color:red;
}
.font-size-md.color-gray {
	color:gray;
}